.container {
  display: grid;
  --dark-blue-color: #05275B;
}

.main {
  padding: 0 10px;
}

.section-title {
  color: var(--dark-blue-color);
}

.intermediate-font {
  font-size: 1.1rem;
}

.big-font > li {
  font-size: 1.2rem;
}

footer {
  background-color: var(--dark-blue-color);
  font-style: italic;
  color: white;
  padding: 10px;
  text-align: center;
}

footer > a {
  color: white;
}

@media screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 10vw auto 10vw;
  }

  .section {
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    grid-template-columns: 15vw auto 15vw;
  }
}